<h1><%= @question.title %></h1>

<h2><%= t('.answers')%>:</h2>

<ol>
    <%= render @question.answers %>
</ol>

<%= link_to t('.back_to_questions', test: @question.test.title), test_path(@question.test_id) %><br>