<h1>All Badges</h1>

<table>
  <tr>
    <th>Badge Title</th>
    <th>Icon</th>
    <th>Rule_type</th>
    <th>Rule_value</th>
    <th colspan="1">Actions</th>
  </tr>

  <%= render @badges %>

</table>