<h1>Gists</h1>

<table>
  <tr>
    <th>User Email </th>
    <th>Question </th>
    <th>Gist URL</th>
  </tr>

  <%= render @gists %>

</table>

<p>
  <%= link_to 'Guru\'s tests', admin_tests_path %>
</p><br>