<br><%= current_year %><br>
<p>
  Буров Павел<br>
  <a href=<%= github_url("kpkodil", "RoR-TestGuru")%>><%= github_url("kpkodil", "RoR-TestGuru")%></a><br>
  Сайт для создания и прохождения тестов
</p><br>
<p>
  <a href="https://thinknetica.com" target="_blank" rel="nofollow">Учебнный проект в онлайн-школе Thinknetica</a>
</p>
