<h1>Tricky Tests</h1>

<table>
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: "text-success hide" %>
      <%= octicon 'arrow-down', class: "text-success hide" %>
    </th>
    <th>Level </th>
    <th>Question count </th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @tests %>

</table>